<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318352218573-vnp2go2646eak7jkb4uosumgfs5koj1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318352218573-vnp2go2646eak7jkb4uosumgfs5koj1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAigTJo7M-gwo5eGAFE3H-febZx8yI30-g</string>
	<key>GCM_SENDER_ID</key>
	<string>318352218573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MYX.RapidMYX.MYX</string>
	<key>PROJECT_ID</key>
	<string>myxapp-84de4</string>
	<key>STORAGE_BUCKET</key>
	<string>myxapp-84de4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318352218573:ios:3bbb0b2fa83605cb348c84</string>
</dict>
</plist>